/* Start Var */
:root {
    --main-duartion:.5s;
    --main-padding:70px;
}
/* End Var */
/* Start Commbons */
.text-light {
    color: #fff !important;
}
.text-success {
    color: #9F6 !important;
}
.top {
    position: absolute;
    width: calc(100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    border-top: 1px solid #fff;
}
.bottom {
    position: absolute;
    width: calc(100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    border-top: 1px solid #fff;
}
.top::before,
.bottom::before,
.top::after,
.bottom::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.top::before,
.bottom::before {
    left: 0px;
}
.top::after,
.bottom::after {
    right: 0px;
}
/* End Commbons */
/* Start Global Ruls */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    display: block;
    transition: var(--main-duartion);
    -webkit-transition: var(--main-duartion);
}
::-webkit-scrollbar {
    width: 5px;
    scrollbar-width: thin;

}
::-webkit-scrollbar-track {
    background-color: #fff;
    box-shadow: 0 0 3px .5px rgb(118, 118, 118) inset;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom , #3CCDFF, #9F6 200%);
}
/* End Global Ruls */
/* Start Video */
video {
    position: fixed;
    left: 50%;
    top:50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1000;
    background-image: url(../img/tm-astro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* End Video */
/* Carousel */
.carousel .title {
    color: #fff;
    font-weight: 300;
    font-size: 40px;
}
@media (min-width:992px) {
    .carousel .shuffle > .owl-stage-outer {
        max-height: 100vh;
    }
}
.carousel .shuffle > .owl-dots {
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
}
.carousel .shuffle > .owl-dots .owl-dot {
    border: 1px solid #fff;
    width: 20px;
    margin-right: 10px;
    transition: var(--main-duartion);
    height: 20px;
}
.carousel .shuffle > .owl-dots .owl-dot.active {
    width: 30px;
    border-color: transparent;
    background-image: linear-gradient(to right , #3CCDFF, #9F6 200%);
}
/******* Home & about*******/
.home ,
.about {
    padding: 80px 30px 50px;
}
.home .text ,
.about .text {
    padding: 30px 40px;
    background-color: rgba(0,0,0,0.3);
} 
.home .text p ,
.about .text p {
    font-weight: 100;
    font-size: 18px;
}
.home .image img {
    width: 260px;
    object-fit: cover;
}
/******* Gallery *******/
.gallery {
    padding: 80px 0 50px;
}
.gallery .item {
    cursor: pointer;
}
.gallery .item img {
    transition: var(--main-duartion);
}
.gallery .item:hover img {
    transform: scale(1.3);
    filter: grayscale(70%);
}
.gallery .item .text {
    background-color: #fff;
    padding: 20px;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-duartion);
}
.gallery .item:hover .text {
    left: 0px;
}
.carousel .gallery  > .owl-dots {
    text-align: center;
}
.carousel .gallery  > .owl-dots .owl-dot {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: var(--main-duartion);
    margin-right: 15px;
}
.carousel .gallery  > .owl-dots .owl-dot:hover,
.carousel .gallery  > .owl-dots .owl-dot.active {
    background-color: #3CCDFF;
}
/*******Contact*******/
.contact {
    padding: 80px 0 50px;
}
.contact .form-control {
    background-color: transparent;
    border-color: transparent transparent #fff transparent;
    border-radius: 0;
}
.contact .form-control::placeholder {
    color: #fff;
}
.contact .form-control:focus {
    border-color: transparent transparent #9F6 transparent;
    box-shadow: none;
}
.contact .btn {
    border-radius: 0px;
    padding: 10px 30px;
}
.contact .btn:hover {
    color: #9F6;
}
.contact .text {
    font-weight: 100;
    font-size: 18px;
}
@media (max-width: 767px) {
    .contact .text {
        order: -1;
    }
}
/* Carousel */